/* We follow SMACSS rule  */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: var(--main-font-color); */
}

html,body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}

body{
    background-color: var(--main-beg-color);
}

a{
    /* height: fit-content; */
    text-decoration: none;
    color: #000;
}

/* theme */
:root{
    --main-beg-color: #F1FAF4;
    --main-font-color: #000;

    --btn-vew-color: #DAF2E3;
    --btn-download-color: #54BA72;

    --click-state-beg-color: #DAF2E3;
}

/* layout */
.category-container{
    font-size: 2rem;
    /* Gap = 5 to 6px */
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;

    padding: 26px 48px;
    height: 69px;
    width: fit-content;
    background-color: #FBE4CC;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

/* module / reusable */
.department{
    font-weight: 600;
    width: 100%;
    font-size: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.branch-e-book--container{
    width: 100%;
}

.last-padding{
    padding-bottom: 5rem;
}

.bar-sem-container{
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    & .bar{
        width: 100%;
        height: 0.1rem;
        background-color: #000;
    }
}

.semester{
    font-size: 3rem;
    padding: 3rem 0rem;

    /* & span{
        width: 100%;
        height: 1rem;
        color: #000;
    } */
}

.e-book--container{
    width: 100%;
    /* background-color: #54BA72; */

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 2rem;

    padding: 0rem 4rem;
}

.e-book{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    background-color: #fff;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: 1.5rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;

    & p{
        font-size: 1.8rem;
    }
}

.e-book--btn--container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.4rem .2rem;
    width: 9rem;
    /* height: 28px; */
    
    font-size: 1.4rem;
    font-family: "Luckiest Guy", cursive;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.view-btn{
    background-color: var(--btn-vew-color);

    & a{
        /* font-size: 10px; */
        color: var(--btn-download-color);
    }
}

.download-btn{
    background-color: var(--btn-download-color);
        /* font-size: 10px; */
        color: #fff;
}


/* states */
.top-section-scrollbar-container{
    white-space: nowrap;
    overflow-x: auto;

    width: 100%;
    /* margin-top: 30px; */
    padding: 10px 0px;
    /* background-color: tomato; */
}

.top-section-scrollbar-container::-webkit-scrollbar{
    display: none;
}

/* start main-section */
.main{
    width: 100%;
    height: 100%;
}
/* end main-section */

/* start top-menu */
.top-menu-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 20px;
    /* background-color: tomato; */

    & a{
        font-family: "Luckiest Guy", cursive;
        letter-spacing: 1px;
        /* font-size: 24px; */
        /* font-size:2.9rem */
        font-size: 3.5rem;
    }

    & img{
        width: 5rem;
        height: auto;
    }
}
/* end top-menu (common-module) */

/* start cse-section */

/* end cse-section */
