/* We follow SMACSS rule  */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Lusitana:wght@400;700&family=Lustria&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}

a{
    /* height: fit-content; */
    text-decoration: none;
    color: #000;
    /* color: #fff; */
}

.main{
    background-color: var(--main-beg-color);
    /* background-color: tomato; */
    width: 100%;
    min-height: 100%;
    padding-bottom: 7rem;
    /* position: relative; */
}


/* theme */
:root{
    --main-beg-color: #F1FAF4;
    --main-font-color: #000;

    --btn-vew-color: #DAF2E3;
    --btn-download-color: #54BA72;

    --click-state-beg-color: #DAF2E3;
}

/* layout */
.category-container{
    font-family: "Lusitana", serif;
    
    font-size: 2rem;
    /* Gap = 5 to 6px */
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;

    padding: 26px 48px;
    height: 69px;
    width: fit-content;
    background-color: #FBE4CC;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}



/* module / reusable */

/* start category container */
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 0rem;
    font-family: "Lusitana", serif;
    font-size: 2rem;

    background-color: #FBE4CC;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.category-item-container{

    & .c-i-1{
        background-color: #FBE4CC;
    }

    & .c-i-2{
        background-color: #F8D2D2;
    }
}

/* end category container */


/* home page */
.heading-text{
    font-family: "Lustria", serif;
    /* font-weight: 400; */
    letter-spacing: 1px;
    font-size: 2rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    /* background-color: tomato; */
}
/* end home page */

/* home page recommend book */
/* start Main menu of diff category */
.recommend-book-container{
    white-space: nowrap;
    overflow-x: auto;

    width: 100%;
    padding: 10px 0px;
}
.recommend-book-container::-webkit-scrollbar{
    display: none;
}

.book-detail-container{
    margin-left: 6px;
    display: inline-block;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

    padding: 12px 11px;
    width: 112px;
    height: 221px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* end home page recommend book */
.department{
    font-weight: 600;
    width: 100%;
    font-size: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.branch-e-book--container{
    width: 100%;
}

.last-padding{
    padding-bottom: 5rem;
}

.bar-sem-container{
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    & .bar{
        width: 100%;
        height: 0.1rem;
        background-color: #000;
    }
}

.semester{
    font-size: 3rem;
    padding: 3rem 0rem;

    /* & span{
        width: 100%;
        height: 1rem;
        color: #000;
    } */
}

.e-book--container{
    width: 100%;
    /* background-color: #54BA72; */

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 2rem;

    padding: 0rem 4rem;
}

.e-book{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    background-color: #fff;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: 1.5rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;

    & p{
        font-size: 1.8rem;
    }
}

.e-book--btn--container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.4rem .2rem;
    width: 9rem;
    /* height: 28px; */
    
    font-size: 1.4rem;
    font-family: "Luckiest Guy", cursive;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.view-btn{
    background-color: var(--btn-vew-color);
        /* font-size: 10px; */
        color: var(--btn-download-color);
}

.download-btn{
    background-color: var(--btn-download-color);
    /* font-size: 10px; */
    color: #fff;
}

/* states */
.grid{
    display: grid;
}
.category-item-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 1.5rem;
}
.top-section-scrollbar-container{
    white-space: nowrap;
    overflow-x: auto;

    width: 100%;
    margin-top: 30px;
    margin-bottom: 3rem;
    padding: 10px 0px;
    /* background-color: tomato; */
}

.top-section-scrollbar-container::-webkit-scrollbar{
    display: none;
}


/* start nav bar  */
.top-menu--bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 20px;

    & a{
        font-family: "Luckiest Guy", cursive;
        letter-spacing: 1px;
        /* font-size: 24px; */
        /* font-size:2.9rem */
        font-size: 3.5rem;
    }

    & img{
        width: 5rem;
        height: auto;
    }
}
/* end nav bar */

/* start bottom bar container */
.bottom-menu--bar--container{
    position: fixed;
    bottom: 0%;
    
    /* position: absolute; */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 3.4rem;
    background-color: #fff;
    width: 100%;

    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.btm-item--container{

    color: #A2A2A2;
    background-color: var(--btn-vew-color);

    padding: 1.2rem;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* end bottom barr */
